@mixin block($margin: 0, $padding: 0, $display: block) {
  display: $display;
  margin: $margin;
  padding: $padding;
  box-sizing: border-box;
}

@mixin flex($direction: row, $justify-content: flex-start, $align-items: flex-start) {
  flex-direction: $direction;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin grid($template-columns: 1fr, $column-gap: 0, $row-gap: 0) {
  grid-template-columns: $template-columns;
  grid-column-gap: $column-gap;
  grid-row-gap: $row-gap;
}

@mixin size($width: 100%, $height: auto) {
  width: $width;
  height: $height;
}

@mixin color($bg-color: #fff, $color: #000) {
  background: $bg-color;
  color: $color;
}

@mixin transition($property: all, $time: 190ms, $type: ease) {
  transition: $property $time $type;
  -webkit-transition: $property $time $type;
  -moz-transition: $property $time $type;
}

@mixin font-montserrat($weight: 400, $size: 14px, $line-height: 22px, $family: 'Montserrat', $font-style: normal) {
  font-family: $family, sans-serif;
  font-weight: $weight;
  font-size: $size;
  line-height: $line-height;
  font-style: $font-style;
}

@mixin circle($size: auto) {
  width: $size;
  height: $size;
  border-radius: 50%;
}

@mixin border($color: #000, $width: 1px, $type) {
 border: $width $type $color;
}

@mixin user-select($select: none) {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}


@mixin media($width) {
  @media screen and (min-width: $width) {
    @content;
  }
}

@mixin media_360 {
  @media screen and (min-width: 360px) {
    @content;
  }
}

@mixin media_375 {
  @media screen and (min-width: 375px) {
    @content;
  }
}

@mixin media_414 {
  @media screen and (min-width: 414px) {
    @content;
  }
}

@mixin media_640 {
  @media screen and (min-width: 640px) {
    @content;
  }
}

@mixin media_768 {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin media_900 {
  @media screen and (min-width: 900px) {
    @content;
  }
}

@mixin media_1200 {
  @media screen and (min-width: 1200px) {
    @content;
  }
}