/*
* Basic Presets
* Containers, grids, titles etc.
*/

body {
  @include font-montserrat();
  color: $black;
}

.app-container {
  @include block(0 auto, 0 10px, block);
  @include size();
  max-width: 1160px;
}

.app-title{
  display: block;
  margin: 40px auto;
  h1{
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
    display: block;
    font-weight: 500;
  }
}

.h2 {
  @extend %title;
}
