/* Colors */
$white:           #FFFFFF;
$black:           #121212;
$primary:         #00AAEE;
$primary-hover:   #1976D2;
$secondary:       #FFA608;
$secondary-hover: #ff7b08;
$secondary-press: #ffa408;
$ui-01:           #38B24C;
$bg-primary:      #37474F;
$bg-secondary:    #D6F1FC;
$bg-01:           #CEDCE3;
$bg-02:           #C4C4C4;
$shadow:          #D7D7D7;
$paragraph:       #607D8B;
$input-bg:        #FBFCFD;

/* Media queries */
$mobile-sm:       360px;
$mobile-md:       375px;
$mobile-lg:       414px;
$tablet-sm:       640px;
$tablet-md:       768px;
$tablet-lg:       900px;
$desktop:         1200px;