@import "../../assets/scss/utils";

.events {
  @include block(0 auto, 0, block);
  @include size();
  &__grid {
    @include block(0 auto, 0, grid);
    @include grid(1fr, 0, 24px);
    justify-content: center;
    max-width: 380px;
    @include media_768 {
      @include grid(1fr 1fr, 18px, 24px);
      max-width: 778px;
    }
    @include media_900 {
      grid-column-gap: 24px;
      max-width: 784px;
    }
    @include media_1200 {
      grid-template-columns: 380px 380px 380px;
      max-width: 100%;
    }
  }
}


