@import "../../../assets/scss/utils";

@keyframes showMenu {
  from {
    transform: scaleY(0) translateY(64px);
    opacity: 0;
  }
  1% {
    transform: scaleY(1) translateY(64px);
  }
  50% {
    opacity: 1;
  }
  to {
    transform: scaleY(1) translateY(0);
    opacity: 1;
  }
}

@keyframes hideMenu {
  from {
    transform: scaleY(1) translateY(0);
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  99% {
    transform: scaleY(1) translateY(64px);
  }
  to {
    transform: scaleY(0) translateY(64px);
  }
}

.header-menu {
  @include block(0 auto, 0 8px 5px, block);
  @include size(100%);
  @include transition(all, 190ms, ease);
  max-width: 100vw;
  position: absolute;
  left: 0; top: 100%; right: 0; bottom: auto;
  z-index: 899;
  background: $bg-primary;
  transform-origin: top;
  transform: scaleY(0) translateY(64px);
  opacity: 0;
  &.hidden {
    animation: hideMenu 220ms ease forwards;
  }
  &.active {
    animation: showMenu 220ms ease forwards;
    opacity: 1;
  }
  .header-menu-controls {
    @include block(0 auto, 16px 0 16px 16px, flex);
    @include size();
    @include flex(row, space-between, center);
    border-top: 1px solid $paragraph;
  }
  .header-menu-list {
    @include block(0, 24px 0,grid);
    @include size();
    @include grid(1fr, 24px, 24px);
    border-top: 1px solid $paragraph;
    border-bottom: 1px solid $paragraph;
    list-style: none !important;
    li {
      @include block(0 auto,0,flex);
      @include flex(row, center, center);
      @include size(100%);
      &::before {
        content: none;
        display: none;
      }
      a {
        @include font-montserrat(500, 16px, 1.5);
        @include transition(all, 190ms, ease);
        color: $white;
        text-decoration: none;
        &:hover {
          color: $primary;
        }
        &:active {
          @include transition(all, 30ms, ease-in);
          color: $bg-secondary;
        }
        &::selection {
          @include color($primary-hover, $white);
        }
      }
      &:last-child {
        margin-bottom: 0;
      }
      &.current-menu-item {
        a {
          color: rgba($primary, .9);
          pointer-events: none;
        }
      }
    }
  }
  .header-menu-link {
    @include block(0 auto, 40px 0, flex);
    @include size();
    @include flex(row, center, center);
    &__btn {
      width: 100%;
      max-width: 304px;
    }
  }
}

@include media_768 {
  .header-menu {
    padding: 0;
    .header-menu-link {
      display: none;
    }
    .header-menu-controls {
      display: none;
    }
    .header-menu-list {
      @include block(0 auto,16px 0,flex);
      @include flex(row, center, center);
      @include size();
      flex-wrap: wrap;
      li {
        @include block(0 32px 0 0,0,inline-flex);
        @include flex(row, flex-start, center);
        @include size(auto);
        &:first-child {
          margin-left: 32px;
        }
      }
    }
    &.nl {
      .header-menu-list {
        li {
          margin-right: 10px;
          &:first-child {
            margin-left: 10px;
          }
        }
      }
    }
  }
}

@include media_1024 {
  .header-menu {
    display: inline-flex;
    width: auto;
    position: static;
    animation: none;
    max-height: none;
    min-height: 0;
    transform: translateX(0) translateY(0) scaleY(1) scaleX(1);
    opacity: 1;
    background: transparent;
    &.active {
      animation: none;
      max-height: none;
      min-height: 0;
      transform: translateX(0) translateY(0) scaleY(1) scaleX(1);
      opacity: 1;
      .header-menu-list {
        max-height: none;
        min-height: 0;
        transform: translateX(0) translateY(0) scaleY(1) scaleX(1);
        opacity: 1;
        animation: none;
      }
    }
    &.hidden {
      animation: none;
      max-height: none;
      min-height: 0;
      transform: translateX(0) translateY(0) scaleY(1) scaleX(1);
      opacity: 1;
    }
    .header-menu-list {
      @include block(0,0,grid);
      @include grid(repeat(6, auto), 25px, 15px);
      @include size(auto);
      animation: none;
      max-height: none;
      min-height: 0;
      transform: translateX(0) translateY(0) scaleY(1) scaleX(1);
      opacity: 1;
      background: transparent;
      border-top: none;
      border-bottom: none;
      li {
        &:first-child {
          margin: 0;
        }
        margin: 0;
      }
    }
  }
}

