@import "../../../../assets/scss/utils";

.popup-login {
  @include block(0 auto, 15px, block);
  @include size();
  position: fixed;
  z-index: 999;
  left: 50%; top: 50%;
  transform: translate(-50%, -50%);
  max-width: 400px;
  &-box {
    &_close {
      width: 25px;
      height: 25px;
      cursor: pointer;
      position: absolute;
      right: 15px;
      top: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    @include block(0 auto, 24px 16px 30px, block);
    @include size();
    box-shadow: 0 8px 24px rgba($shadow, .48);
    background-color: $white;
    border-radius: 8px;
  }
  &__title {
    @extend %title;
    margin-bottom: 24px;
  }
  .popup-submit {
    display: flex;
    margin: 12px auto 0;
    @include size(100%, auto);
  }
}
