// Mobile menu button
.btn-burger {
  @include block(0 0 0 32px,10px 5px,flex);
  @include flex(column, space-between, center);
  @include size(40px, 40px);
  @include color(transparent, $white);
  overflow: hidden;
  max-width: 40px;
  border: none;
  position: relative;
  z-index: 1;
  text-decoration: none;
  text-transform: none;
  outline: none;
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  &__line {
    @include block();
    @include size(30px, 3px);
    @include color($white, $white);
    @include transition(all, 190ms, ease);
    max-width: 30px;
    min-height: 3px;
    transform: translateX(0) translateY(0) rotate(0);
    &.top {
      transform: translateX(0) translateY(0) rotate(0);
    }
    &.middle {
      transform: translateX(0) translateY(0) rotate(0);
      opacity: 1;
    }
    &.bottom {
      transform: translateX(0) translateY(0) rotate(0);
    }
  }

  &.active {
    .btn-burger__line {
      &.top {
        transform: translateX(0) translateY(7.5px) rotate(45deg);
      }
      &.middle {
        transform: translateX(-45px) translateY(0) rotate(0);
        opacity: 0;
      }
      &.bottom {
        transform: translateX(0) translateY(-8.5px) rotate(-45deg);
      }
    }
  }
}