// Primary button

.btn-primary {
  @include block(0,8px 16px,inline-flex);
  @include flex(row, center, center);
  @include size(auto);
  @include color($primary, $white);
  @include font-montserrat(700, 16px, 1.5);
  @include transition(all, 190ms, ease);
  border-radius: 8px;
  text-decoration: none !important;
  text-transform: none;
  text-align: center;
  outline: none;
  border: none;
  box-shadow: none;
  cursor: pointer;
  &:hover {
    @include color($primary-hover, $white);
  }
  &:active {
    transition: none;
    @include color($primary, $white);
  }
  &:disabled {
    @include color($white, $bg-01);
    cursor: not-allowed;
    pointer-events: none;
    border: 1px solid rgba($bg-primary, .5);
  }
  &::selection {
    @include color(#FFA608, $white);
  }
}

